{% block element_gpsr_info %}
    {% set config = element.fieldConfig.elements %}
    {% set data = element.data %}

    {% set gpsrCanvasOptions = {
        infos: data,
        labels: {
            manufacturer: '{{ "detail.gpsrInfo.manufacturer"|trans|sw_sanitize }}',
            importer: '{{ "detail.gpsrInfo.importer"|trans|sw_sanitize }}',
            responsiblePerson: '{{ "detail.gpsrInfo.responsiblePerson"|trans|sw_sanitize }}',
        }
    } %}

    <div class="cms-element-{{ element.type }}">
        {% block element_gpsr_info_inner %}
            <canvas
                    data-gpsr-canvas="true"
                    data-gpsr-canvas-options="{{ gpsrCanvasOptions|default({})|json_encode|escape('html_attr') }}"
            >
            </canvas>
        {% endblock %}
    </div>
{% endblock %}